@import '../variables';

.AboutContainer {
    background-color: $Bg-dark-50;
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
    .label {
        font-size: 14px;
        color: $Text-600;
        padding: 4px 20px;
        background-color: $Bg-dark-200;
        border-radius: 12px;
    }
    .Content {
        width: 100%;
        max-width: 1200px;
        height: auto;
        padding: 0 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 48px;
    }
}
.ImageBlock {
    position: relative;
    height: 540px;
    width: 410px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    .Image {
        width: 370px;
        height: 500px;
        border: 8px solid $Bg-dark-50;
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .Shadow {
        width: 370px;
        height: 500px;
        border: 8px solid $Bg-dark-50;
        background: $Bg-gray-700;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}
.TextInfo {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
    .Text {
        h1 {
            font-size: 32px;
            margin-bottom: 24px;
            color: $Text-900;
        }
        p {
            font-size: 16px;
            color: $Text-600;
            line-height: 24px;
            margin-top: 16px;
            a {
                text-decoration: underline !important;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .AboutContainer {
        .Content {
            gap: 0px;
        }
    }
    .TextInfo {
        max-width: 400px;
        .Text {
            h1 {
                font-size: 36px;
            }
        }
    }
    .ImageBlock {
        max-height: 350px;
        max-width: 320px;
        .Image {
            width: 270px;
            height: 320px;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
        }
        .Shadow {
            width: 320px;
            height: 320px;
        }
    }
}
@media screen and (max-width: 820px) {
    .AboutContainer {
        padding: 64px 0;
        .Content {
            padding: 0 20px;
            justify-content: center;
            flex-direction: column;
            gap: 48px;
        }
    }
    .TextInfo {
        max-width: 400px;
        order: 2;
        .Text {
            h1 {
                font-size: 32px;
            }
        }
    }
}
